@import "../../../Common.scss";

.content {
    min-width: 800px;
    margin-left: 20px ;
    padding-left: 50px;
    margin-right: 20px ;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F9FAFB;
    min-height: 500px;
    .input{
        width: 400px;
        height: 35px;
        font-size: 16px;
        padding-left: 10px;
        border-radius: 5px;
        border: 1px solid #84B4EA;
    }
    .change{
        font-size: 14px;
        color: #3182D3;
        font-weight: bold;
        margin-left: 40px;
    }
    .label{
        font-size: 16px;
        color: #7C7C7C;
        margin-right: 20px;
        width: 24rem;
    }
    .label1{
        margin-right: 90px;
    }
    .label2{
        margin-right: 55px;
    }
    .pass{
        font-size: 16px;
        margin-top: 15px;
    }
}