@import "../../../Common.scss";

.content {
    min-width: 800px;
    margin-left: 20px ;
    padding: 50px;
    margin-right: 20px ;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F9FAFB;
    .input{
        width: 500px;
        height: 35px;
        font-size: 16px;
        border: 1px solid #84B4EA;
        border-radius: 5px;
        padding-left: 10px;
    }
    .gender_input{
        width: 500px;
        height: 20px;
        font-size: 16px;
        // border: 1px solid #84B4EA;
        border-radius: 5px;
    }
    .name{
        margin-right: 91px;
    }
    .sdt{
        margin-right: 62px;
    }
    .date{
        margin-right: 87px;
    }
    .gender{
        margin-right: 100px;
    }
    .note{
        margin-left: 171px;
    }
    .css-13cymwt-control{
        height: 20px !important;
        border: 1px solid #84B4EA !important;
    }
}